In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [ ]:
# Implicit INNER JOIN 

query = """
SELECT
    tpep_pickup_datetime,
    tpep_dropoff_datetime,
    total_amount,
    CONCAT(zpu."Borough", ' | ', zpu."Zone") AS pickup_loc,
    CONCAT(zdo."Borough", ' | ', zdo."Zone") AS dropoff_loc
FROM 
    yellow_taxi_trips t,
    zones zpu,
    zones zdo
WHERE
    t."PULocationID" = zpu."LocationID"
    AND t."DOLocationID" = zdo."LocationID"
LIMIT 100;
"""

pd.read_sql(query, con=engine)

In [ ]:
# Location IDs not found in zones 

query = """
SELECT
    tpep_pickup_datetime,
    tpep_dropoff_datetime,
    total_amount,
    "PULocationID",
    "DOLocationID"
FROM 
    yellow_taxi_trips
WHERE
    "DOLocationID" NOT IN (SELECT "LocationID" FROM zones)
    OR "PULocationID" NOT IN (SELECT "LocationID" FROM zones)
LIMIT 100;
"""
pd.read_sql(query, con=engine)

In [ ]:
# Trips per day (GROUP BY)

query = """
SELECT
    CAST(tpep_dropoff_datetime AS DATE) AS day,
    COUNT(1) AS trips
FROM yellow_taxi_trips
GROUP BY CAST(tpep_dropoff_datetime AS DATE)
ORDER BY day ASC
LIMIT 100;
"""
pd.read_sql(query, con=engine)

In [ ]:
# Aggregations and Multiple GROUP BY 

query = """
SELECT
    CAST(tpep_dropoff_datetime AS DATE) AS day,
    "DOLocationID",
    COUNT(1) AS count,
    MAX(total_amount) AS max_total,
    MAX(passenger_count) AS max_passengers
FROM yellow_taxi_trips
GROUP BY 1, 2
ORDER BY day ASC, "DOLocationID" ASC
LIMIT 100;
"""
pd.read_sql(query, con=engine)